@charset "utf-8";
$num: 75;
$color: #3ca6fe;

@function px-convert-rem($px) {
  @return $px/$num+rem;
}
html {
  background: #f2f5f7;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.menu {
  width: 100%;
  padding-top: px-convert-rem(20);
  display: flex;
  ul {
    width: 100%;
    .menu-item {
      width: 100%;
      height: px-convert-rem(88);
      background: white;
      line-height: px-convert-rem(88);
      flex-flow: row wrap;
      margin-bottom: px-convert-rem(10);
    }
  }

}