@font-face {
  font-family: 'iconfont';  /* project id 95359 */
  src: url('//at.alicdn.com/t/font_maf6s5ag96s6pqfr.eot');
  src: url('//at.alicdn.com/t/font_maf6s5ag96s6pqfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_maf6s5ag96s6pqfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_maf6s5ag96s6pqfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_maf6s5ag96s6pqfr.svg#iconfont') format('svg');
}
.iconfont{
  font-family: 'iconfont';
  font-size: 16px;
  font-style: normal;
}