html,body{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body {
    background: url("../images/background.png") no-repeat center center;
    background-size: 100% 100%;
}
.header{
    color: #2934ce;
}
.left_bar{
    width: 20%;
    height: 100%;
    /*outline: 1px solid rebeccapurple;*/
}
